@charset "UTF-8";
@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

li {
  list-style-type: none;
}

.site {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.button {
  padding: 15px 28px;
  border-radius: 20px;
  border: 1px solid #8B8CAD;
  background: #32333F;
}
.button:hover {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(270deg, #1E042B 0.37%, #04082D 99%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 29px;
}
.header__menu {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}
.header__logo {
  color: #FFF;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.header__link {
  text-decoration: none;
  color: #8B8CAD;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__link:hover {
  color: #FFF;
}

.main-nav__button {
  display: flex;
  gap: 30px;
}
.main-nav__autorize {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-nav__first {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(90deg, #37419D 0.19%, #9356B6 71.72%, #B75EBF 99.78%);
}
.main-nav__link {
  color: #FFF;
}

.top {
  margin-top: 60px;
  background: linear-gradient(270deg, #1E042B 0.37%, #04082D 99%);
  padding-top: 110px;
  padding-bottom: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top__header {
  width: 856px;
  text-align: center;
  color: #FFF;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 43px;
}
.top__span {
  background: linear-gradient(90deg, #4856CE 10.4%, #DE6FE8 47.84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top__click {
  text-align: center;
  margin-bottom: 85px;
}
.top__button {
  background: linear-gradient(90deg, #37419D 0.19%, #9356B6 71.72%, #B75EBF 99.78%);
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top__text {
  margin-top: 60px;
  margin-bottom: 80px;
  color: #4B56CF;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 132.469%;
  /* 33.117px */
  letter-spacing: -2px;
}
.top__logos {
  display: flex;
  gap: 212px;
}
.top__logo:hover svg path {
  fill: #FFF;
}

.content {
  padding-top: 132px;
  display: flex;
  flex-direction: column;
  gap: 166px;
  padding-bottom: 110px;
}
.content__title {
  color: #4B56CF;
  text-align: left;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 132.469%;
  /* 29.143px */
  letter-spacing: 2.09px;
  margin-bottom: 20px;
}
.content__header {
  color: #000;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: 132.469%;
  /* 59.611px */
  letter-spacing: -3.6px;
  margin-bottom: 75px;
}
.content__span {
  background: linear-gradient(90deg, #4B56CF 56.66%, #9356B6 96.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  line-height: 132.469%;
  letter-spacing: -3.6px;
}
.content__info {
  display: flex;
  justify-content: space-between;
  gap: 81px;
}
.content__flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content__heading {
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 132.469%;
  /* 29.143px */
}
.content__text {
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.work {
  padding-top: 89px;
  padding-bottom: 96px;
  background: linear-gradient(270deg, #1E042B 0.37%, #04082D 99%);
}
.work__text {
  color: #4B56CF;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 132.469%;
  /* 29.143px */
  letter-spacing: 2.09px;
  margin-bottom: 20px;
}
.work__header {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 100px;
}
.work__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.work__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.work__heading {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.work__info {
  color: #8B8CAD;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 132.469%;
  /* 29.143px */
  letter-spacing: -1.76px;
}

.why-codolab {
  padding-top: 96px;
}
.why-codolab__text {
  color: #4B56CF;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 132.469%;
  /* 29.143px */
  letter-spacing: 2.09px;
  margin-bottom: 50px;
}
.why-codolab__header {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 120px;
}
.why-codolab__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 330px;
}
.why-codolab__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.why-codolab__heading {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.why-codolab__info {
  color: #7B7C9D;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 132.469%;
  /* 29.143px */
}
.why-codolab__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.why-codolab__img {
  display: block;
}

.input {
  padding-top: 200px;
  background: linear-gradient(270deg, #1E042B 0.37%, #04082D 99%);
  height: 54vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.input__content {
  padding-bottom: 45px;
  color: #FFF;
}
.input__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.register {
  padding-top: 200px;
  background: linear-gradient(270deg, #1E042B 0.37%, #04082D 99%);
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.register__content {
  padding-bottom: 45px;
  color: #FFF;
}
.register__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hello {
  padding-top: 200px;
  text-align: center;
  background: linear-gradient(270deg, #1E042B 0.37%, #04082D 99%);
  height: 75vh;
}
.hello__title {
  color: #B75EBF;
  font-size: 70px;
}

.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}

.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s 0, visibility 0 0;
}

.cd-user-modal.is-visible .cd-user-modal-container {
  transform: translateY(0);
}

.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  transform: translateY(-30px);
  transition-property: transform;
  transition-duration: 0.3s;
}

.cd-user-modal-container .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}

.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
}

.cd-user-modal-container .cd-switcher li:first-child a {
  border-radius: 0.25em 0 0 0;
}

.cd-user-modal-container .cd-switcher li:last-child a {
  border-radius: 0 0.25em 0 0;
}

.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}

.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #505260;
}

@media only screen and (min-width: 600px) {
  .cd-user-modal-container {
    margin: 4em auto;
  }
  .cd-user-modal-container .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}
.cd-form {
  padding: 1.4em;
}

.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}

.cd-form .fieldset:first-child {
  margin-top: 0;
}

.cd-form .fieldset:last-child {
  margin-bottom: 0;
}

.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}

.cd-form label.image-replace {
  /* заменить текст с иконой */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

/* Иконки полей ввода */
.cd-form label.cd-username {
  background-image: url("../img/cd-icon-username.svg");
}

.cd-form label.cd-email {
  background-image: url("../img/cd-icon-email.svg");
}

.cd-form label.cd-password {
  background-image: url("../img/cd-icon-password.svg");
}

.cd-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}

.cd-form input.full-width {
  width: 88%;
}

.cd-form input.has-padding {
  padding: 12px 20px 12px 50px;
}

.cd-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.cd-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}

.cd-form input.has-error {
  border: 1px solid #d76666;
}

.cd-form input[type=password] {
  /* пространство для кнопки Скрыть */
  padding-right: 65px;
}

.cd-form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.no-touch .cd-form input[type=submit]:hover,
.no-touch .cd-form input[type=submit]:focus {
  background: #3599ae;
  outline: none;
}

.cd-form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}

.cd-form .cd-error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: 0.8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* предотвращения кликов и прикосновения */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}

.cd-form .cd-error-message::after {
  /* уголок сообщения об ошибке */
  content: "";
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-form .cd-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s 0, visibility 0 0;
}

@media only screen and (min-width: 600px) {
  .cd-form {
    padding: 2em;
  }
  .cd-form .fieldset {
    margin: 2em 0;
  }
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }
  .cd-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }
  .cd-form input[type=submit] {
    padding: 16px 0;
  }
}
.cd-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .cd-form-message {
    padding: 2em 2em 0;
  }
}
.cd-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}

.cd-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

.cd-close-form {
  /* стиль X кнопки вверху справа */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../img/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: none;
  }
}
#cd-login,
#cd-signup,
#cd-reset-password {
  display: none;
}

#cd-login.is-selected,
#cd-signup.is-selected,
#cd-reset-password.is-selected {
  display: block;
}/*# sourceMappingURL=style.css.map */